<h1>{{pageTitle}}</h1>
<div class="container">
  <div class="list">
    {{#each content}}
      <ul class = "list__wrapper"/>
          <li class = "list__wrapper-name">{{this.basic.name}}</li>
          <li class = "list__wrapper-status">{{this.quote.change1WeekPercent}}</li>
      </ul>
    {{/each}}
  </div>
</div>


